#header {
  background-color: #A14BB2;
}

#sidebar {
  background-color: #3EB28C;
}

#mainContent {
  background-color: #FFE8AD;
}

#footer {
  background-color: #7ACCB1;
}

#footer p {
  padding-top: 12px;
}

/*F2B2FF*/
#A14BB2