<!DOCTYPE html>

<html>

<head>
    <title>Birdy Prime - The Website</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/script.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->


</head>

<body ng-app="birdApp" ng-controller="birdCtrl as BC">


    <div id="header" class="container col-xs-12">

        <h1>Birdy Prime {{1 + 1 + ".0"}}</h1>
        <h2>{{BC.aBirds}}</h2>
        
<table><tr><td>asdf</td></tr></table>
        
    </div>



    <div id="headerBreak" class="container col-xs-12">
    </div>

    <div id="sidebar" class="container col-xs-2">
        <a href="about.html">About</a>
        <a href="contact.html">
            <br> Contact</a>
        <a href="help.html">
            <br> Help</a>
        <br>
    </div>

    <div id="mainContent" class="container col-xs-10">
        <div id="gameContent">
            <img id="bg_image" src="images/powerlines_sm.png" alt="powerline image">
            <table>

                <tr ng-repeat="row in BC.aBirds">
                    <td ng-repeat="bird in row">{{bird}</td>

                </tr>

            </table>
        </div>
    </div>



    <div id="footer" class="text-center container col-xs-12">
        <p>&#169;2015 - Birdy Prime</p>
    </div>


    <script src="js/bootstrap.min.js">
    </script>
</body>

</html>